[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
pandas-ta = "*"
matplotlib = "*"
seaborn = "*"
japanize-matplotlib = "*"
rpy2 = "*"

[dev-packages]
ipykernel = "*"
flake8 = "*"
black = "*"
isort = "*"
mypy = "*"
types-requests = "*"
pre-commit = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.2"
